:root {
  --dark: #1E1E24;
  --light: #C4AF9A;
  --accent: #81AE9D;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer ";
  grid-template-columns: 1fr;
  grid-template-rows: 15vmin auto 8vmin;
  grid-gap: 40px 10px;
  min-height: 100vh;
  background-color: var(--dark);
}

.App-logo {
  height: 8vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2vmin;
  grid-area: header;
  padding: 5vmin;
}

.App-link {
  color: var(--accent);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer p {margin: 3vmin; font-size: 2vmin; color: var(--light);}
footer p a {color: var(--accent);}
